<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
    .fieldErrorText {
        color: #bc2130;
    }
    .preview-img {
        width: 200px;
        border: 1px solid #1b1e21;
    }
    .label {
        font-weight: bold;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="form">
        <form th:action="@{/posts/new}" th:object="${postForm}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label th:for="image" class="label">공유하고 싶은 사진을 업로드하세요</label>
                <input type="file" th:field="*{image}" class="form-control-file" accept="image/*" />
            </div>
            <input type="hidden" th:field="*{username}" class="username"/>
            <div class="form-group">
                <img class="preview-img" id="preview-img" alt="preview-img"
                     src="https://dummyimage.com/200x200/ffffff/000000.png&text=preview+image" />
            </div>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldErrorText">Incorrect data</p>
            <div class="form-group">
                <label th:for="contents" class="label">소식을 입력하세요</label>
                <textarea class="form-control" th:field="*{contents}" rows="4" maxlength="255"
                          th:class="${#fields.hasErrors('contents')}? 'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}" class="fieldErrorText">Incorrect data</p>
            </div>
            <button type="submit" class="btn btn-outline-primary">공유하기</button>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"/>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector(".form-control-file").addEventListener("change", e => {
                processImage(e.target);
            });
        });

        function processImage(input) {
            let file = input.files[0];
            if (input.files && file) {
                const reader = new FileReader();

                reader.onload = evt => {
                    //username 랜덤한 아이디로 세팅
                    document.querySelector(".username").value = makeRandomName(12);
                    document.querySelector(".preview-img").src = evt.target.result;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        // 익명의 username을 만듭니다.
        function makeRandomName(length) {
            let result = '';
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                let number = Math.random() * charactersLength;
                let index = Math.floor(number);
                result += characters.charAt(index);
            }
            return result;
        }
    </script>

</div> <!-- /container -->

</body>
</html>