<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <p th:if="${posts.isEmpty()}">24시간 내에 사람들이 공유한 소식이 없습니다.<br>소식을 공유해보세요!</p>

    <div class="card-columns">
        <div class="card" th:each="post : ${posts}">
            <img th:src="@{images/{username} (username = ${post.getUsername()})}"
                 src="https://dummyimage.com/350x350/ffffff/000000.png&text=preview+image"
                 alt="이미지" class="card-img-top"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${post.getUsername()}">Card title</h5>
                <p class="card-text" th:text="${post.getContents()}">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div style="margin: 1em;">
                <a th:href="@{|/posts/${post.getId()}/edit|}" href="#" class="btn btn-outline-primary"
                   style="margin-right: 1em;">수정</a>
                <a href="#" class="btn btn-outline-danger" th:onclick="deletePost([[${post.getId()}]]);">삭제</a>
            </div>
            <div class="card-footer">
                <small class="text-muted" th:text="${post.getCreatedAt()}">2021-08-17</small>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>

    <script th:inline="javascript">
        function deletePost(postId) {
            if (confirm('정말 이 소식을 지우시겠습니까??')) {
                const url = "/posts/" + postId;
                fetch(url, {method: 'delete'});
            }
        }
    </script>

</div> <!-- /container -->

</body>
</html>