<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:image" content="images/og_instatimeline.jpg">
    <meta property="og:title" content="INSTA TIMELINE SERVICE">
    <meta property="og:description" content="이미지와 함께 소식을 공유하고, 다른 사람들의 소식을 확인해보세요.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>

    <title>Insta Timeline</title>
</head>
